body {

    background: url("./images/bg_pattern.jpg");

}

.container {
    background: white;
    width: 80%;
    border: 10px solid white;
    margin: 0 auto;
}

.header {
    text-align: end;
    background: #A8F0F0;
}

.header h2 {
    font-size: 14pt;
}

.content {
    height: auto;
    overflow: auto;

    background: #E8FBFB;
    border: 4px solid #C2E9E9;
    padding: 5px;
    margin-top: 10px;
}

.content p img {
    float: right;
}

.content .content-date {
    border-bottom: 2px dashed #009097;
}

.all-data {
    display: flex;
}

.sidebar {
    background: #99E0E0;
    border: 4px solid #009097;
    padding: 10px;
    flex: 2;

    margin-right: 10px;
    height: 200px;
}

.posts {
    flex: 10;
}