body {

    background: url("./images/bg_pattern.jpg");

}

.container {
    background: white;
    width: 80%;
    border: 5px solid green;
    margin: 0 auto;
}

.header {
    border: 5px solid red;
}

.header h2 {
    border: 5px solid orange;
}

.content {
    border: 5px solid blue;
    background: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
}

.content .content-date {
    border: 5px solid blueviolet;
}